@import 'feta';
@import 'reset';



.chart {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 700px;

	rect.state-bkgd {
		fill: #ccc;
		stroke: #fff;
		stroke-width: 1;
		opacity: .5;
	}

	text {
		font-family: $mono;
		fill: #999;
		font-size: 12px;
		text-transform: uppercase;
	}
}
